<!-- Corpo do e-mail depois de Sign up -->

<div class="email-message">

  <h2>Olá <%= @user[:first_name] %>,</h2>

  <p>Gostaríamos de agradecer sua generosidade em fazer parte da <strong id='easy'>Easy Blood</strong>.</p>
  <p>Para sua maior comodidade, lhe avisaremos quando uma campanha de doação estiver por perto.</p>
  <p>Sua bela atitude pode salvar vidas!</p>

  <p>Easy blood, te ajudando a salvar vidas.</p>


</div>



<style media="screen" type="text/css">

.email-message {
  font-family:'Sans-serif';
  font-size: 20px;
}
h2{
  color:#F12B6B;
}

#easy {
  color:#F12B6B;
}
</style>

<!-- <p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>
 -->
