<!-- Corpo do e-mail depois de Sign up -->
<div class="email-message">

  <h2>Olá, <%= @user[:first_name] %>,</h2>

  <p>Quando o número de pessoas na sua região formar uma campanha, enviaremos e-mail informando localização da coleta e </p>
  <p>Sua bela atitude pode salvar vidas!</p>

  <p>Easy blood, te ajudando a salvar vidas.</p>

</div>




<!-- <p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>
 -->
