// Specific CSS for your home-page

.pink-wrapper{
  background-color: $pink;
  height: 100vh;
}

.white-wrapper{
  background-color: white;
  height: 100vh;
  color: $pink;
  h3 {
    text-align: center;
  }

  h5, p {
    text-align: center;
    color: black;
  }
}

.bege-wrapper{
  background-color: $bege;
  height: 100vh;
  h3 {
    text-align: center;
  }

  h5, p {
  text-align: center;
  color: black;
  }
}

.white-wrapper .testimonials{
  height: 100vh;
  color: $pink;
  opacity: 0.9;
  li {
  list-style: none;
  color: black;
  }
}


.campaigns {
  position: relative;
}

.button-all-campaigns {
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.testimonials {
  position: relative;
}






