// Specific CSS for your home-page

.pink-wrapper{
  background-color: $pink;
  height: 100vh;
}

.white-wrapper{
  background-color: white;
  height: 100vh;
  color: $pink;
}

.bege-wrapper{
  background-color: $bege;
  height: 100vh;
}

.white-wrapper .testimonials{
  height: 100vh;
  color: $pink;
  opacity: 0.9;
}

h3 {
    text-align: center;
}

h5, p {
    text-align: center;
    color: black;
}

.campaigns {
  position: relative;
}

.campaigns-text {

}

.button-all-campaigns {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.testimonials {
  position: relative;
}

li {
  list-style: none;
  color: black;

}





