.wrapper {
  background-color: white;
}

.profile {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  h3 {
    color: $pink;
  }
}

.blood-icon {
  text-align: center;
  h2 {
    color: black;
  }
}

