.wrapper {
  background-color: white;
}

.profile {
  h3 {
    color: $pink;
  }

  p {
    color: black;
    text-align: left;
  }
}

.blood-icon {
  text-align: center;
  h2 {
    color: black;
  }
}

