<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="register col-sm-offset-4 col-sm-4">
        <h3>Registro Médico</h3>
        <% if current_user.medical_record %>
        <%= render 'form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>




