
.white-wrapper-stripe{
  background-color: white;
  //height: 80vh;
  color: $pink;
  position:relative;
  h3 {
    text-align: center;
  }
}

  h5, p {
      text-align: center;
      color: black;
  }


.donate-text{
  display: block;
  color: black;
  margin-top:15px;
  font-size: 25px;
  align: center;
}

.heart{
  text-align: center;
}

.row{
  margin-top:40px !important;
  margin-bottom: 50px !important;
}
