
.white-wrapper-stripe{
  background-color: white;
  //height: 80vh;
  position:relative;
}

  h5, p {
      text-align: center;
      color: black;
  }


.donate-text{
  display: block;
  color: black;
  margin-top:15px;
  margin-bottom: 50px;
  font-size: 25px;
  align: center;
}

.heart{
  text-align: center;
}


