<div class="footer">
  <div class="footer-content hidden-xs">
    <div>
      <h3>Easy Blood</h2>
      <ul class="list-footer">
        <a href="#"><li>Carreiras</li></a>
        <a href="#"><li>Política de Privacidade</li></a>
        <a href="#"><li>Sobre a Empresa</li></a>
      </ul>
    </div>
    <div>
      <h3>Descubra</h2>
      <ul class="list-footer">
        <a href="#"><li>Comunidade</li></a>
        <a href="#"><li>Blog</li></a>
        <a href="#"><li>Sobre Médico</li></a>
      </ul>
    </div>
    <div>
      <h3>Apoio</h2>
      <ul class="list-footer">
        <a href="#"><li>Doações</li></a>
        <a href="#"><li>Instituições Apoiadores</li></a>
        <a href="#"><li>Sobre Médico</li></a>
      </ul>
    </div>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>
