<!-- Banner principal com call-to-action -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/mscorzoni/image/upload/banner.jpg');">
  <div class="banner-content">
    <h1>Porque doar é fácil</h1>
    <p>Quanto mais cadastros, maiores as chances de uma campanha perto de você</p>
    <%= link_to "Quero doar", new_user_registration_path, class: "btn-pink-lg" %>
    <div class="odometer">
      <p>
        <span class="number"><%= count_users*49 + 2000 %></span> doadores.
        <span class="number"><%= count_campaign %></span> Campanhas realizadas.
      </p>
    </div>
  </div>
</div>
