<!-- Banner com depoimentos  -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.pnbank.com.au/globalassets/images/power-of-and/science-of/power_of_touch.jpg');">
 <div class="banner-content">
  <h3>Depoimentos</h3>
  <p></p>
  <div class="list-testemonials">
    <div class="testemonial">
      <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      <div class="text">
       <p>"Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pess Mauris aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que alcoolatra anonimis."</p>
     </div>
   </div>
   <div class="testemonial">
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-large"/>
    <div class="text">
      <p>"Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pess Mauris aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que alcoolatra anonimis."</p>
    </div>
  </div>
  <div class="testemonial">
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar-large"/>
    <div class="text">
      <p>"Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pess Mauris aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que alcoolatra anonimis."</p>
    </div>
  </div>
</div>
</div>
</div>

