<!-- Banner com depoimentos  -->
<div class="banner hidden-xs hidden-sm" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.pnbank.com.au/globalassets/images/power-of-and/science-of/power_of_touch.jpg');">
 <div class="banner-content">
  <h3>Depoimentos</h3>
  <p></p>
  <div class="list-testemonials">
    <div class="testemonial">
      <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      <div class="text">
       <p> <strong>André dos Santos - Receptor</strong></p>
       <p>"Eu conhecia muita gente que gostaria de doar, mas não conseguia devido as dificuldades de acesso aos hospitais. Criar campanhas para atender os doadores me trouxe muita esperança. Sou muito agradecido."</p>
     </div>
   </div>
   <div class="testemonial">
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-large"/>
    <div class="text">
      <p> <strong>João da Silva - Doador Universal O+</strong></p>
      <p>
      "Sabe que eu nem sabia o meu tipo sanguíneo?! E eu sou um doador universal! Durante anos queria doar sangue, mas não conseguia encontrar uma brecha na agenda. Agora, a cada 3 meses, separo um dia e participo de uma campanha da Easy Blood."</p>
    </div>
  </div>
  <div class="testemonial">
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar-large"/>
    <div class="text">
      <p> <strong>Sébastien Saunier - CTO LeWagon</strong> </p>
      <p>"Poucas iniciativas buscam resolver questões sociais e de saúde pública de forma tão original e eficiente como a Easy Blood. A dinâmica reversa de criação de campanhas a partir da demanda permite controle absoluto e o aumento real de doadores."</p>
    </div>
  </div>
</div>
</div>
</div>

