</script><div class="wrapper">
  <div class="container">
    <h2>Sobre nós</h2>
    <p>Durante duas semanas embarcamos em um projeto de causa humanitária. Um time bastante unido e que comemorava cada feature desenvolvida. Abaixo, um pouco mais sobre o time por trás da EasyBlood.</p>
    <div class="row">
      <% @team.each do |key, value| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card card-about">
          <div class="card-category">
            <h2><%= value[:name].to_s %></h2>
          </div>
          <div class="card-description">
            <p>
              <%= mail_to "#{value[:email].to_s}" %>
            </p>
          </div>
          <%= cl_image_tag("#{key.downcase}.png", class: "card-user") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
