
.wrapper-campaign {
  background-color: white;
}

.campaign-details {
  text-align: left;
}

.show-campaign {
  height: 60vh;
  h3 {
    color: $pink;
    text-align: left;
  }
  p {
    color: black;
    text-align: left;
  }
}

#map-id {
  margin-top: 10px;
}

.myBtn {
  font-weight: bold;
  font-family: Sans-serif;
  background-color: $pink;
  color: white;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-back {
  float: right;
  display: block;
}


