
.wrapper-campaign {
  background-color: white;
  //height: 50vh;
}

.campaign-details {
  width: 50%;
  margin-right: 100px;
  text-align: left;
}

.show-campaign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    color: $pink;
    text-align: left;
  }
  p {
    color: black;
    text-align: left;
  }
}

.map {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 50px;
  width: 50%;
}

.button-back {
  margin-top: 20px;
  margin-right: 50px;
  bottom: 10px;
  float: right;
}

.btn-text{
  font-weight: bold;
  font-family: Sans-serif;
}

.myBtn {
  background-color: $pink;
  float: center;
  color: white;
  font-weight: lighter;
  border-radius: 8px;
}
