<div class="email-message">

  <h2>Olá, <%= @user[:first_name] %>,</h2>

  <p>Uma campanha foi criada que esta proxima a sua localizacao</p>
  <p>Por favor, confirme sua presenca</p>

  <p>Easy blood, te ajudando a salvar vidas.</p>

</div>
