
<div class="email-message">

  <h2 style="color:#F12B6B">Olá <%= @user[:first_name] %>,</h2>

  <p>Gostaríamos de agradecer sua generosidade em fazer parte da <strong id='easy'>Easy Blood</strong>.</p>
  <p>Uma campanha foi criada pertinho de você!</p>
  <p>Para confirmar sua participação, clique no botão abaixo:</p>
</div>

<div class='outer', style="margin-left: 10px">
  <%=link_to 'Participar', campaign_url(@campaign), class: 'btn-part', style: "font-size: 20px;display: inline-block;text-decoration: none;color:white;padding: 10px 15px;border-radius: 4px;font-weight: bold;background: #F12B6B;transition: background 0.3s ease;" %>
</div>

<div class='mail-footer'>
  <p><strong id='easy'>Easy blood, te ajudando a salvar vidas.</strong></p>
  <a href='https://www.easyblood.com.br/'><%= cl_image_tag("logo_easy.png", :height=>40, :crop=>"scale") %></a>
</div>

