
<div class="email-message">

  <h2>Olá <%= @user[:first_name] %>,</h2>

  <p>Gostaríamos de agradecer sua generosidade em fazer parte da <strong id='easy'>Easy Blood</strong>.</p>
  <p>Uma campanha foi criada pertinho de você!</p>
  <p>Para confirmar sua participação, clique no botão abaixo:</p>
</div>

<div class='outer'>

</div>

<div class='mail-footer'>
  <p><strong id='easy'>Easy blood, te ajudando a salvar vidas.</strong></p>
  <a href='https://easy-blood.herokuapp.com/'><%= cl_image_tag("logo_easy.png", :height=>40, :crop=>"scale") %></a>
</div>





<style media="screen" type="text/css">

.email-message {
  font-family:'Sans-serif';
  font-size: 20px;
}
h2{
  color:#F12B6B;
}

#easy {
  color:#F12B6B;
}

.mail-footer {
  margin-top: 100px;
  font-family:'Sans-serif';
  font-size: 24px;
}
.btn-part {
  font-size: 20px;
  font-family:'Sans-serif';
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #F12B6B;
  transition: background 0.3s ease;
}
.btn-part:hover {
  opacity: 1;
  font-family:'Sans-serif';
  background: #FFBBBB;
  text-decoration: none;
  color: white;
}

.outer {
  margin-top: 80px;
  width: 100%;
  text-align: center;
}

</style>
