// .footer {
//   background: #F4F4F4;
//   display: flex;
//   align-items:flex-top;
//   justify-content: space-between;
//   // height: 100px;
//   color: rgba(0,0,0,0.3);
//   margin-top: 10px;
//   padding: 10px 0;
// }
// .footer-links {
//   display: flex;
//   align-items: center;
//   margin-left: 50px;
// }
// .footer-links a {
//   color: black;
//   opacity: 0.15;
//   text-decoration: none;
//   font-size: 24px;
//   padding: 0px 10px;
// }
// .footer-links a:hover {
//   color: $pink;
//   opacity: 1;
// }
// .footer .fa-heart {
//   color: #D23333;
// }

// .list-footer li {
//   list-style-type: none;
//   font-size: 14px;
//   //color: rgba(0,0,0,0.3);
// }

// .list-footer a{
//   color: rgba(0,0,0,0.3);
//   &:hover {
//   text-decoration: none;
//   color: $pink;
//   }
// }

// .footer h3 {
//   color: black;
//   opacity: 0.7;
//   font-size: 20px;
//   padding: 0px 30px;
// }

// .footer-content {
//   display: flex;
//   align-items: center;
//   .h3 {
//     text-align: center;
//   }
// }


.list-footer {
  list-style: none;
  padding-left: 0px;

}

.list-footer {
  text-decoration: none;
  font-size: 14px;
  &:hover {
      text-decoration: none;
      color: $pink;
    }
}

.list-footer li {
      color: #F4F4F4;
}

.links-wrapper {
  display: flex;
  justify-content: space-arround;
  align-items: center;
  height: 165px;
  text-align: right;
}

.row-links {
  font-size: 20px;
  margin: 0 auto;
}

.container-footer {
  background-color: #F4F4F4;
  color: rgba(0,0,0,0.3);
}

.row-links a {
  color: #DFD3D3;
  padding: 0 7px;
  &:hover {
  color: $pink;
  }
}

.row-footer h3 {
  color: black;
  opacity: 0.7;
  font-size: 20px;
 }

.row-content a {
  text-decoration: none;
  color: black;
  opacity: 0.4;
  &:hover {
    color: $pink;
  }
}

.row-content h3 {
  font-size: 18px;
}

.row-content {
  text-align: left;
}
