
// new code

.banner-testimonial {
  background-size: cover;
  h2 {
    margin-top: 82px;
    color: #333333;
  }
}
.testimonial-content {
  margin-top: 20px;
}

.testimonial-content p {
  color: white;
}

.container h2 {
  color: white;
}
